.places {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .places {
    gap: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    gap: 73px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    gap: 80px;
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    gap: 80px;
    max-width: 1280px;
  }
}
