.header__logo {
  position: absolute;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    top: 16px;
    left: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    width: 176px;
    height: 52px;
    top: 28px;
    left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    width: 176px;
    height: 52px;
    top: 28px;
    left: 48px;
  }
}
